body {
  margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  background-color: #835949;
  box-sizing: border-box;
}
#title {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  color: white;
  background-color: #835949;
  font-family: ource-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.sub_title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: ource-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  float: left;
  margin: 10px;
}
.box {
  width: 90%;
  height: 20rem;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  background-color: #B09171;
  box-shadow: 1px 1px 3px rgb(210, 210, 210);
}
